body#portfolio {
    margin: 0;
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    color: #5A5959;
    background-color: #F5F5F5;
}

*::selection {
    background: #97e7ff;
    color: #fff;
}

*::-moz-selection {
    background: #97e7ff;
    color: #fff;
}

.ui.inverted.masthead {
    background-color: #51a1c4;
    margin-bottom: 1em;
}

.ui.inverted.masthead a.item {
    font-size: 1.2em;
    font-weight: bold;
}

/* homepage top menu */

.ui.secondary.inverted.menu {
    opacity: 1;
    border: 0;
    font-family: 'Assistant', sans-serif;
}

/* following menu */

div#following-menu.menu {
    z-index: 1001 !important;
}

div#following-menu.menu {
    display: none;
}

div#following-menu.menu.transition {
    background: hsla(218, 29%, 20%, 1);
    border: 0;
}

div#following-menu.menu.transition .item {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Assistant', sans-serif;
}

div#following-menu.menu.transition .item:hover {
    color: #ffffff;
    background-color: #51a1c4;
}

.masthead.segment {
    min-height: 500px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 1.5em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
    font-family: 'Assistant', sans-serif;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
    font-family: 'Assistant', sans-serif;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button+h3, .ui.vertical.stripe p+h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

div.section.footer.segment {
    padding: 5em 0em;
    background-color: #333;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    /* .secondary.pointing.menu .item, .secondary.pointing.menu .menu {
        display: none;
    } */
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}

html {
    scroll-padding-top: 55px;
    /* height of sticky header */
}

div.section {
    font-family: 'Assistant', sans-serif;
    color: #5A5959;
}

div.ui.section.vertical.stripe.segment>h1 {
    font-family: 'Assistant', sans-serif;
    color: #5A5959;
    margin-bottom: 1em;
    margin-top: 1em;
}

div.section.projects .ui.raised.segment {
    padding: 0em;
    margin-bottom: 5em;
    border-radius: 10px;
    ;
}

div.section.projects div.ui.celled.grid {
    padding: 0em;
    margin: 0em;
}

div.section.projects div.ui.one.column.grid {
    margin: 0em 4em;
}

div.section.projects div.project-image.ten.wide.column {
    padding: 0em;
    margin: 0em;
}

div.section.projects div.project-info.ui.column {
    padding: 4em 2em;
    margin: 0em;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
}

div.section.projects img.image {
    border-radius: 10px 0px 0px 10px;
}

div.section.projects .ui.large.button:hover {
    color: #00aff0;
    background-color: #F5F5F5;
}

div.ui.header {
    font-family: 'Assistant', sans-serif;
    color: #5A5959;
}

div.section.about-me div.ui.two.column.grid {
    margin-left: 12em;
    margin-right: 12em;
}

div.section.contact div.contact.two.column.grid {
    margin-left: 0em;
    margin-right: 0em;
}

div.section.contact div.ten.wide.column {
    padding-left: 13em;
    padding-top: 2em;
}

div.section.contact div.six.wide.column {
    padding-left: 5em;
    padding-top: 5em;
}

div.section.contact div.six.wide.column div.row {
    padding: 1em 0em;
}

div.section.contact div.six.wide.column div.row a {
    font-size: 1.2em;
    color: #333;
}

div.section.contact div.six.wide.column div.row a:hover {
    font-size: 1.2em;
    color: #00aff0;
}

div.section.footer div.links a {
    font-size: 1.2em;
    color: #CCCCCC;
}

div.section.footer div.links a:hover {
    font-size: 1.2em;
    color: #ffffff;
}